.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    min-height: 100vh !important;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .nav-link.active {
    color: #007bff !important;
  }
  
  .mouse-hover:hover {
    color: #007bff;
    cursor: pointer;
  }
  
  .avatar-sm {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 15%;
  }
  
  .avatar-lg {
    vertical-align: middle;
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }

  .product-size {
    width:  20vw;
    height: 38vh
  }

.product-detail-pic {
  height: 80%;
  width: 100%
}

.product-detail-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center!important;
}

.addToCart-btn {
    transition: all .3s ease;
    padding: 0 39px;
    height: 55px;
    font-size: 14px;
    background: #444;
    letter-spacing: .2em;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    text-align: center;
    width: 100%!important;
}

.product-name {
  font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}

.product-prize {
  font-size: 20px;
  font-weight: 400;
  color: #444;
  text-decoration: none;

}

.updateCart-btn {
  display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 65px;
    border: none;
    background-color: #000;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    letter-spacing: .2em;
    font-weight: 500;
    position: relative;
    border-radius: 0;
    transition: .3s;

}

.continueShopping-btn {
  display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 65px;
    border: none;
    background: #444;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    letter-spacing: .2em;
    font-weight: 500;
    position: relative;
    border-radius: 0;
    transition: .3s;
}

.checkout-btn{
  margin-top: 15px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 18px 65px;
  border: none;
  background-color: #444;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  letter-spacing: .2em;
  font-weight: 500;
  position: relative;
  border-radius: 0;
  transition: .3s;
}

.cart-checkout {
  border: 1px solid #e3e3e3;
    padding: 41px 40px 63px;
    overflow: hidden;
    margin: 30px 0;

}

.cart-information{
  border: 1px solid #e3e3e3;
  padding: 41px 40px 63px;
  overflow: hidden;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.cart-total {
  font-weight: 600;
  line-height: 30px;
  color: #000;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 17px 20px 17px 0;
}
.cart-img {
  height: 15vh;
  width: 10vw;
}