.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    min-height: 100vh !important;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .nav-link.active {
    color: #007bff !important;
  }
  
  .mouse-hover:hover {
    color: #007bff;
    cursor: pointer;
  }
  
  .avatar-sm {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 15%;
  }
  
  .avatar-lg {
    vertical-align: middle;
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
  